@media screen and (max-width: 1500px) {
    .slider .list .item .content {
        bottom: 28%;
        max-width: 450px;
    }

    /* .articles-wrp a {
        width: 195px;
    }

    .article {
        width: 195px;
    }
    
    .cover-article {
        width: 180px;
        height: 280px;
    } */
}
